@import "reset.css";
@import "navTab.css";
@import "searchForm.css";
@import "apiList.css";
@import "localList.css";

header {
  /* 헤더 레이아웃 */
  width: 450px;
  height: 70px;
}

.header-text {
  display: inline-block;
  margin-left: 30px;
  color: #212529;
  font-weight: 900;
  line-height: 1.5;
}
